html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*VARIABLES*/

:root{
    --colorverdeBase: #59D9B5;
    --colorverdeOscuro: #01402E;
    --colorverdeClaro: #B3F2E0;
    --colorverdeMuyClaro: #D0F2E9;
    --colorgrisFondo: #FAFCFE;
    --colorNegroMarkest: black;
    --colorgrisletra: gray;

    /*Margenes*/
    --margen_paddingGeneral: 30px;
    --margen_paddingBotones:8px 10px;
    --margen_separacionSections: 80px;
    --margen_CurvaBoton:20px;
    /*Fuentes*/
    --fuente_base:Arial;
    --fuente_Base_Tamayo: 1rem;
    --fuente_H1:2rem;
    --fuente_H2:1.5rem;
    --fuente_H3:1.3rem;
    --fuenteBotones: var(--fuente_H3);
    --fuente_Parrafo:var(--fuente_Base_Tamayo);
}

/* ********************************************************* */
/* ********************************************************* */
/*contenedor principal*/
.container{
    background-color: var(--colorgrisFondo);
    padding: 10px;
    
    
    
}
/*header*/
header{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;   
}

.logo{

    width: 70vw;   
}

.despliega{
    display: none;
}
label{
    position: absolute;
    top: var(--margen_paddingGeneral) ;
    left: var(--margen_paddingGeneral);
    z-index: 5;
}

.desplegable{
    display: none;
    background-color: var(--colorverdeOscuro);
    width: 100vw;
    height: 100vh;
    font-size: var(--fuente_H1);
    list-style: none;
    padding: calc(var(--margen_paddingGeneral)*6) var(--margen_paddingGeneral) ;
    color: var(--colorgrisFondo);
        
}

input:checked ~ .desplegable{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
   
}

svg{
    width: 32px;
}

.inicio{
    margin-right: 50px;
}

/*MAIN*/
main{
    display: flex;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0 60px 0;
    
   
    
}

.logotipo{
    display: flex;
    align-items: center;
    color: var(--colorNegroMarkest);
    
}


.hexagono{
    background: url(../imagenes/hexagonoGreen.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45px;
    width: 45px;
    
}

.parafos{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    color: var(--colorverdeBase);
}

.you{
    margin-bottom: 90px;
    color: var(--colorgrisletra);
}
.input, .input2{
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    border: none;
}
.input{
    background-color: var(--colorverdeBase);
   
}
.input2{
    background-color: var(--colorverdeClaro);
    color: var(--colorNegroMarkest);
}
.input::placeholder{
    color: var(--colorgrisFondo);
}
.input2::placeholder{
    color: var(--colorNegroMarkest);
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    color: var(--colorverdeBase);
    
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--colorgrisletra);
    
    
}

.h5{
    padding-top: 30px;
    margin-bottom: 32px;
}
/*la parte del login*/








